<div class="card flex flex-col gap-1" (click)="onTweetClick()">
  <div class="flex gap-3 items-center m-3">
    <app-avatar
      alt="User"
      [src]="data?.user?.username"
      size="50px"
      [generateAvater]="true"
    ></app-avatar>

    <div class="flex flex-col" (click)="$event.stopPropagation()">
      <a
        class="text-md hover:underline"
        routerLink="/home/profile/{{ data?.user?.userId }}"
        >{{ data?.user?.username }}</a
      >
      <span class="text-gray-500 text-xs">{{ data?.createdAt | dateAgo }}</span>
    </div>

    <button
      *ngIf="data?.user?.userId === userAuth?.userId"
      class="!ml-auto hover:text-primaryLight"
      mat-icon-button
      (click)="$event.stopPropagation()"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon class="material-symbols-rounded">more_vert</mat-icon>
    </button>

    <mat-menu #menu>
      <button mat-menu-item (click)="onEdit()">
        <mat-icon class="material-symbols-rounded">edit</mat-icon>
        <span>Edit Post</span>
      </button>
      <button mat-menu-item (click)="onDelete()">
        <mat-icon class="material-symbols-rounded">delete</mat-icon>
        <span>Delete Post</span>
      </button>
    </mat-menu>
  </div>

  <div class="mx-5 mb-5 flex flex-col gap-3">
    <div
      [innerHtml]="data?.text || '' | hashtag"
      (click)="$event.stopPropagation(); onTagClick($event)"
    ></div>

    <app-retweet-content
      *ngIf="data?.isRetweet"
      [data]="data?.retweet"
    ></app-retweet-content>
  </div>

  <div
    class="flex p-1 gap-1 border-t border-gray-300"
    (click)="$event.stopPropagation()"
  >
    <button
      mat-button
      class="flex-1 hover:text-pink-500"
      [ngClass]="{
        'text-pink-500': alreadyLiked
      }"
      (click)="onLike()"
    >
      <mat-icon
        class="mx-2 material-symbols-rounded"
        [ngClass]="{
          active: alreadyLiked
        }"
        >favorite</mat-icon
      >
      <span *ngIf="data?.likes?.length" class="text-lg">{{
        data?.likes?.length
      }}</span>
    </button>

    <mat-divider vertical></mat-divider>

    <button mat-button class="flex-1 hover:text-blue-500" (click)="onComment()">
      <mat-icon class="mx-2 material-symbols-rounded">mode_comment</mat-icon>
      <span *ngIf="data?.comments?.length" class="text-lg">{{
        data?.comments?.length
      }}</span>
    </button>

    <mat-divider vertical></mat-divider>

    <button
      mat-button
      class="flex-1 hover:text-primaryLight"
      [ngClass]="{
        'text-primaryLight': alreadyRetweeted
      }"
      [matMenuTriggerFor]="retweetMenu"
    >
      <mat-icon class="mx-2 material-symbols-rounded">cycle</mat-icon>
      <span *ngIf="data?.retweetPosts?.length" class="text-lg">{{
        data?.retweetPosts?.length
      }}</span>
    </button>

    <mat-menu #retweetMenu>
      <button *ngIf="alreadyRetweeted" mat-menu-item (click)="onDelete()">
        <mat-icon class="material-symbols-rounded">sync_disabled</mat-icon>
        <span>Undo Share</span>
      </button>

      <button
        *ngIf="!alreadyRetweeted"
        mat-menu-item
        (click)="onQuickRetweet()"
      >
        <mat-icon class="material-symbols-rounded">share</mat-icon>
        <span>Quick Share</span>
      </button>

      <button mat-menu-item (click)="onQuoteRetweet()">
        <mat-icon class="material-symbols-rounded">edit_note</mat-icon>
        <span>Quote Share</span>
      </button>
    </mat-menu>
  </div>
</div>
