<ng-container *ngIf="data?.id; else noContent">
  <div
    class="card border text-gray-700 flex p-2 gap-3 cursor-pointer"
    (click)="$event.stopPropagation(); onTweetClick()"
  >
    <a
      class="h-fit"
      (click)="$event.stopPropagation()"
      routerLink="/profile/{{ data?.user?.userId }}"
      ><app-avatar
        alt="User"
        [src]="data?.user?.username"
        size="50px"
        borderColor="#f0f0f0"
        borderWidth="1px"
        borderRadius="50%"
        [generateAvater]="true"
      ></app-avatar
    ></a>

    <div class="flex flex-col gap-2">
      <div class="flex gap-3 items-center">
        <a
          (click)="$event.stopPropagation()"
          class="font-semibold hover:underline"
          routerLink="/profile/{{ data?.user?.userId }}"
          >{{ data?.user?.username }}</a
        >
        <span>•</span>
        <time class="text-gray-500">{{ data?.createdAt | timeAgo }}</time>

        <span *ngIf="data?.isQuoteRetweet" class="text-gray-500"
          >—— quoted a post</span
        >
      </div>

      <app-hashtag-renderer
        [text]="data?.text"
        (onHashtagClick)="onTagClick($event)"
      ></app-hashtag-renderer>
    </div>
  </div>
</ng-container>

<ng-template #noContent>
  <app-alert
    title="No content!"
    message="Content of this post is unavailable"
  ></app-alert>
</ng-template>
