<mat-form-field appearance="outline" class="w-full">
  <mat-label>Search by username</mat-label>
  <input
    matInput
    [formControl]="formControl"
    placeholder="Search for user by username"
    #input
  />
</mat-form-field>

<h3 class="text-gray-700 font-semibold text-lg my-4">User list</h3>
<section
  class="h-4/5 overflow-auto"
  tabindex="0"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="200"
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
  <table mat-table recycleRows [dataSource]="dataSource" class="w-full">
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>User ID</th>
      <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef>Date Of Birth</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateOfBirth | date: "mediumDate" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isBanned" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          *ngIf="!element.isBanned"
          [disabled]="element.userId === userAuth?.userId"
          class="transition inline-flex items-center gap-2 rounded border border-primary px-3 py-1 text-sm font-medium text-primary hover:bg-primary hover:text-white focus:outline-none"
          (click)="banUser(element.userId)"
        >
          Ban User
        </button>

        <button
          *ngIf="element.isBanned"
          class="transition inline-flex items-center gap-2 rounded border border-red-500 px-3 py-1 text-sm font-medium text-red-500 hover:bg-red-500 hover:text-white focus:outline-none"
          (click)="unbanUser(element.userId)"
        >
          Unban User
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
