<div class="card flex flex-col p-1 gap-1">
  <div class="flex gap-3 items-center m-3">
    <app-avater
      alt="User"
      [src]="'user?.photoURL'"
      size="50px"
      [generateAvater]="true"
    ></app-avater>

    <div class="flex flex-col">
      <span class="text-md">Name</span>
      <span class="text-gray-500 text-xs">Date and Time</span>
    </div>
  </div>

  <div class="mx-5 mb-5">
    <div
      [innerHtml]="tweetMessage | hashtag"
      (click)="onHashTagClick($event)"
    ></div>
  </div>

  <mat-divider></mat-divider>

  <div class="flex gap-1">
    <button mat-button class="flex-1" (click)="onLikeClick()">
      <mat-icon class="material-symbols-rounded">favorite</mat-icon>
    </button>

    <mat-divider vertical></mat-divider>

    <button mat-button class="flex-1" (click)="onCommentClick()">
      <mat-icon class="material-symbols-rounded">mode_comment</mat-icon>
    </button>
    <mat-divider vertical></mat-divider>

    <button mat-button class="flex-1" (click)="onRetweetClick()">
      <mat-icon class="material-symbols-rounded">cycle</mat-icon>
    </button>
  </div>
</div>
