<section class="flex justify-center">
  <div class="flex flex-col max-w-6xl w-full">
    <app-profile-details
      class="flex-1 mb-10"
      [data]="profile"
      [followers]="followers"
      [followings]="followings"
      [analytics]="userAnalytics"
      (onProfileEdit)="onProfileEdit()"
      (onPasswordEdit)="onPasswordEdit()"
      (onFollow)="onFollow($event)"
      (onUnfollow)="onUnfollow($event)"
      (onBlock)="onBlock($event)"
      (onUnblock)="onUnblock($event)"
    ></app-profile-details>

    <div class="flex gap-4">
      <div class="flex-[0.5] relative">
        <div class="h-fit sticky top-0">
          <app-profile-peoples
            [profileDetails]="profile"
            [followers]="followers"
            [followings]="followings"
            [blockList]="blockList"
            (onFollow)="onFollow($event)"
            (onUnfollow)="onUnfollow($event)"
            (onBlock)="onBlock($event)"
            (onUnblock)="onUnblock($event)"
            (onFollowingScroll)="onFollowingScroll()"
            (onFollowersScroll)="onFollowersScroll()"
            (onBlockListScroll)="onBlockListScroll()"
          >
          </app-profile-peoples>
        </div>
      </div>

      <div
        *ngIf="tweets?.length; else noPosts"
        class="flex flex-1 flex-col gap-6"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="200"
        [infiniteScrollContainer]="'#main-panel'"
        [fromRoot]="true"
        (scrolled)="onScroll()"
      >
        <app-tweet-item
          *ngFor="let tweet of tweets"
          [data]="tweet"
        ></app-tweet-item>
      </div>
    </div>
  </div>
</section>

<ng-template #noPosts>
  <app-empty-result-overlay
    class="my-auto flex-[0.7] mx-10"
    type="noData"
    title="No Posts By {{ profile?.username }}!"
    message="Come back later to see if there are any new posts."
  ></app-empty-result-overlay>
</ng-template>
