<section class="flex justify-center">
  <div class="flex flex-col gap-8 max-w-6xl w-full">
    <app-profile-details
      class="flex-1"
      [data]="profileDetails"
      [followers]="followers"
      [followings]="followings"
      [postCount]="tweets.length"
      (onProfileEdit)="onProfileEdit()"
      (onFollow)="onFollow($event)"
      (onUnfollow)="onUnfollow($event)"
    ></app-profile-details>

    <div class="flex gap-4">
      <div class="card flex-[0.5]">
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Following" labelClass="text-lg !py-3">
            <div class="flex flex-col gap-2 p-3">
              <app-following-item
                *ngFor="let following of followings"
                [data]="following"
                (onFollow)="onFollow($event)"
                (onUnfollow)="onUnfollow($event)"
              ></app-following-item>
            </div>
          </mat-tab>
          <mat-tab label="Followers" labelClass="text-lg !py-3">
            <div class="flex flex-col gap-2 p-3">
              <app-following-item
                *ngFor="let follower of followers"
                [data]="follower"
                (onFollow)="onFollow($event)"
                (onUnfollow)="onUnfollow($event)"
              ></app-following-item>
            </div>
          </mat-tab>
          <mat-tab label="Block List" labelClass="text-lg !py-3">
            <div class="flex flex-col gap-2 p-3">
              <app-following-item
                *ngFor="let follower of followers"
                [data]="follower"
                (onFollow)="onFollow($event)"
                (onUnfollow)="onUnfollow($event)"
              ></app-following-item>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="flex flex-1 flex-col gap-6">
        <app-tweet-item
          *ngFor="let tweet of tweets"
          [data]="tweet"
        ></app-tweet-item>
      </div>
    </div>
  </div>
</section>
