<div class="signupPage">
  <form [formGroup]="signupForm" class="signupDiv">
    <h1>Signup</h1>
    <div class="inputdiv">
      <input type="text" [formControlName]="'username'" placeholder="Username" />

      <div style="color: red;"
        *ngIf="signupForm.controls['username'].invalid && (signupForm.controls['username'].touched || signupForm.controls['username'].dirty)">
        <div style="text-align: center;" *ngIf="signupForm.controls['username'].errors['required']">
          Username is required.
        </div>
      </div>
    </div>

    <div class="inputdiv">
      <input type="email" [formControlName]="'email'" placeholder="Email" />

      <div style="color: red;"
        *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
        <div style="text-align: center;" *ngIf="signupForm.controls['email'].errors['required']">
          Email is required.
        </div>
        <div style="text-align: center;" *ngIf="signupForm.controls['email'].errors['email']">
          Please provide a valid email.
        </div>
      </div>
    </div>


    <div class="inputdiv">
      <input type="date" [formControlName]="'dateOfBirth'" placeholder="Date of Birth" />

      <div style="color: red;"
        *ngIf="signupForm.controls['dateOfBirth'].invalid && (signupForm.controls['dateOfBirth'].touched || signupForm.controls['dateOfBirth'].dirty)">
        <div style="text-align: center;" *ngIf="signupForm.controls['dateOfBirth'].errors['required']">
          Date of birth is required.
        </div>
      </div>
    </div>

    <div class="inputdiv">
      <input type="password" [formControlName]="'password'" placeholder="Password" />

      <div style="color: red;"
        *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].touched || signupForm.controls['password'].dirty)">
        <div style="text-align: center;" *ngIf="signupForm.controls['password'].errors['required']">
          Password is required.
        </div>
      </div>
    </div>

    <div class="inputdiv">
      <input type="password" [formControlName]="'confirmPassword'" placeholder="Confirm Password" />

      <div style="color: red;"
        *ngIf="signupForm.controls['confirmPassword'].invalid && (signupForm.controls['confirmPassword'].touched || signupForm.controls['confirmPassword'].dirty)">
        <div style="text-align: center;" *ngIf="signupForm.controls['confirmPassword'].errors['required']">
          Please confirm your password.
        </div>
      </div>

      <div style="color: red; text-align: center;" *ngIf="passwordMismatch">
        Confirm Password doesn't match with password
      </div>

    </div>

    <button (click)="signup()" [disabled]="signupForm.invalid" type="button" class="signupButton">Signup</button>
  </form>
</div>
