<div class="signupPage">
  <form [formGroup]="signupForm" class="signupDiv">
    <h1>Signup</h1>
    <div class="inputdiv">
      <input
        type="text"
        [formControlName]="'username'"
        placeholder="Username"
      />

      <div
        class="inputWarning"
        *ngIf="
          signupForm.controls['username'].invalid &&
          (signupForm.controls['username'].touched ||
            signupForm.controls['username'].dirty)
        "
      >
        <div *ngIf="signupForm.controls['username'].errors['required']">
          Username is required.
        </div>
      </div>
    </div>

    <div class="inputdiv">
      <input type="email" [formControlName]="'email'" placeholder="Email" />

      <div
        class="inputWarning"
        *ngIf="
          signupForm.controls['email'].invalid &&
          (signupForm.controls['email'].touched ||
            signupForm.controls['email'].dirty)
        "
      >
        <div *ngIf="signupForm.controls['email'].errors['required']">
          Email is required.
        </div>
        <div *ngIf="signupForm.controls['email'].errors['email']">
          Please provide a valid email.
        </div>
      </div>
    </div>

    <div class="inputdiv">
      <input
        type="date"
        [formControlName]="'dateOfBirth'"
        placeholder="Date of Birth"
      />

      <div
        class="inputWarning"
        *ngIf="
          signupForm.controls['dateOfBirth'].invalid &&
          (signupForm.controls['dateOfBirth'].touched ||
            signupForm.controls['dateOfBirth'].dirty)
        "
      >
        <div *ngIf="signupForm.controls['dateOfBirth'].errors['required']">
          Date of birth is required.
        </div>
        <div *ngIf="signupForm.controls['dateOfBirth'].errors['underage']">
          You must be over 18.
        </div>
      </div>
    </div>

    <div class="inputdiv">
      <input
        type="password"
        [formControlName]="'password'"
        minlength="5"
        maxlength="50"
        placeholder="Password"
      />

      <div
        class="inputWarning"
        *ngIf="
          signupForm.controls['password'].invalid &&
          signupForm.controls['password'].touched
        "
      >
        <div *ngIf="signupForm.controls['password'].errors['required']">
          Password is required.
        </div>
        <div *ngIf="signupForm.controls['password'].errors['pattern']">
          Password must contain more than 8 characters, 1 upper case letter, 1
          digit and 1 special character
        </div>
      </div>
    </div>

    <div class="inputdiv">
      <input
        (blur)="displayError = true"
        type="password"
        [formControlName]="'confirmPassword'"
        placeholder="Confirm Password"
      />

      <div
        class="inputWarning"
        *ngIf="
          signupForm.controls['confirmPassword'].invalid &&
          (signupForm.controls['confirmPassword'].touched ||
            signupForm.controls['confirmPassword'].dirty)
        "
      >
        <div *ngIf="signupForm.controls['confirmPassword'].errors['required']">
          Please confirm your password.
        </div>
      </div>

      <div
        class="inputWarning"
        *ngIf="
          signupForm.controls['confirmPassword'].invalid &&
          displayError &&
          (signupForm.controls['confirmPassword'].dirty ||
            signupForm.controls['confirmPassword'].touched)
        "
      >
        <div
          *ngIf="
            signupForm.controls['confirmPassword'].errors['passwordMismatch']
          "
        >
          Confirm Password doesn't match with password
        </div>
      </div>
    </div>
    <button
      (click)="signup()"
      [disabled]="signupForm.invalid"
      type="button"
      class="signupButton"
    >
      Signup
    </button>
  </form>
</div>
<!--Alert-->
<div
  *ngIf="alert"
  class="alertDiv"
  [ngStyle]="{ 'background-color': alert.color }"
>
  {{ alert.message }}
</div>
