<form [formGroup]="signupForm" (ngSubmit)="submitForm()">
  <div class="form-card flex glass-card max-w-4xl flex-1">
    <div class="flex flex-col p-7 flex-1 gap-3">
      <h1 class="text-3xl font-semibold mb-7">Sign Up</h1>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />

        <mat-error *ngIf="signupForm.controls['username'].hasError('required')">
          User is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />

        <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
          Email is required
        </mat-error>

        <mat-error *ngIf="signupForm.controls['email'].hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          [matDatepicker]="datePicker"
          formControlName="dateOfBirth"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>

        <mat-error
          *ngIf="signupForm.controls['dateOfBirth'].hasError('required')"
        >
          Date of birth is required
        </mat-error>

        <mat-error
          *ngIf="signupForm.controls['dateOfBirth'].hasError('underage')"
        >
          Must be over 18 years old
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          autocomplete
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon
            >{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
          >
        </button>

        <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
          Password is required
        </mat-error>

        <mat-error *ngIf="signupForm.controls['password'].hasError('pattern')">
          Must contain at least 8 characters, an uppercase letter, a lowercase
          letter, a number and a special character
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          autocomplete
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPassword"
        >
          <mat-icon
            >{{ hideConfirmPassword ? "visibility_off" : "visibility"
            }}</mat-icon
          >
        </button>

        <mat-error
          *ngIf="signupForm.controls['confirmPassword'].hasError('required')"
        >
          Please confirm your password
        </mat-error>

        <mat-error
          *ngIf="signupForm.controls['confirmPassword'].hasError('mismatch')"
        >
          Confirm password doesn't match with password
        </mat-error>
      </mat-form-field>

      <div class="flex items-center gap-5 mt-2">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="signupForm.invalid"
        >
          Create Account
        </button>
        <p>
          Already have an account?
          <strong><a [routerLink]="'/auth/signin'">Sign In</a></strong>
        </p>
      </div>
    </div>

    <div
      class="glass-card flex flex-col items-center justify-center p-7 max-w-sm gap-10"
    >
      <mat-icon class="app-logo" color="primary">question_answer</mat-icon>
      <p class="text-2xl text-center">
        Sign up to Panic Chat and connect with people all around
      </p>
    </div>
  </div>
</form>
