<form class="flex items-center gap-2">
  <div class="relative w-full">
    <div
      class="flex items-center absolute inset-y-0 left-0 pl-3 pointer-events-none"
    >
      <span class="material-symbols-rounded text-gray-400">search</span>
    </div>

    <input
      type="text"
      id="search"
      class="outline-none bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:border-primary block w-full pl-10 p-2.5"
      placeholder="Search"
      required
    />
  </div>

  <button
    type="submit"
    class="flex items-center outline-none p-2 text-sm font-medium text-white bg-primary rounded-lg border border-primary hover:bg-primaryDark"
  >
    <mat-icon class="material-symbols-rounded">search</mat-icon>
  </button>
</form>
