@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

.mainDiv {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.underlined-input {
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 2px solid gray;
}

.underlined-input:focus {
  border-color: royalblue;
}

.signupRedirectButton {
  position: absolute;
  top: 5px;
  right: 5px;
}
