@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.mainDiv {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.deleteButton {
  width: 30px;
  height: 30px;
}

.mat-icon {
  font-size: 15px;
}
