<div class="flex flex-col h-full py-6 gap-6">
  <a routerLink="/" class="flex items-center justify-center h-16 px-4 gap-3">
    <mat-icon
      color="primary"
      svgIcon="app_logo"
      [ngStyle]="{ fontSize: '3rem', width: '3rem', height: '3rem' }"
    >
    </mat-icon>

    <span class="text-4xl font-bold text-primary">Talkative</span>
  </a>

  <hr />

  <button
    class="w-full flex items-center justify-center gap-3 px-8 py-4 rounded outline-none bg-primary text-white hover:bg-primaryDark"
    (click)="openCreatePostDialog()"
  >
    <span>CREATE POST</span>
    <mat-icon class="material-symbols-rounded">add</mat-icon>
  </button>

  <div class="mb-auto flex flex-col gap-2">
    <a
      *ngFor="let data of navData"
      [routerLink]="data.link"
      routerLinkActive="active"
      class="nav-link transition"
    >
      <mat-icon class="material-symbols-rounded">{{ data.icon }}</mat-icon>
      <span>{{ data.text }}</span>

      <span
        *ngIf="data.notificationCount"
        class="inline-flex justify-center items-center ml-2 w-7 h-7 text-xs font-semibold bg-primary text-white rounded-full"
        >{{
          data.notificationCount > 10 ? "10+" : data.notificationCount
        }}</span
      >
    </a>
  </div>

  <button
    class="flex items-center justify-center gap-3 px-8 py-4 rounded border-none outline-none bg-gray-900 text-white hover:bg-gray-800"
    (click)="onLogout()"
  >
    <span>LOGOUT</span>
    <mat-icon class="material-symbols-rounded">power_rounded</mat-icon>
  </button>
</div>
