<div
  class="p-4 border rounded-lg"
  [ngClass]="{
    'text-gray-600 border-gray-300 bg-gray-50': type === 'default',
    'text-blue-600 border-blue-300 bg-blue-50': type === 'info',
    'text-purple-600 border-purple-300 bg-purple-50': type === 'notice',
    'text-red-600 border-red-300 bg-red-50': type === 'danger',
    'text-green-600 border-green-300 bg-green-50': type === 'success',
    'text-yellow-600 border-yellow-300 bg-yellow-50': type === 'warning'
  }"
>
  <div class="flex gap-2">
    <span [ngSwitch]="type" class="material-symbols-rounded active">
      <ng-container *ngSwitchCase="'info'">info</ng-container>
      <ng-container *ngSwitchCase="'notice'">lightbulb_circle</ng-container>
      <ng-container *ngSwitchCase="'danger'">dangerous</ng-container>
      <ng-container *ngSwitchCase="'success'">verified</ng-container>
      <ng-container *ngSwitchCase="'warning'">warning</ng-container>
      <ng-container *ngSwitchDefault>error</ng-container>
    </span>
    <div>
      <p class="font-bold">{{ title }}</p>
      <p class="text-sm">{{ message }}</p>
    </div>
  </div>
</div>
