<section class="flex flex-col items-center gap-6">
  <div class="max-w-2xl w-full card">
    <h2 class="font-semibold text-lg m-3">Post Something</h2>

    <mat-divider></mat-divider>

    <div class="flex items-center gap-3 m-3">
      <app-avatar
        alt="User"
        [src]="userAuth?.username"
        size="50px"
        [generateAvater]="true"
      ></app-avatar>

      <button
        class="w-full py-2.5 px-5 text-start text-md font-medium rounded-full outline-none transition duration-200 ease-in-out text-gray-500 bg-gray-100 hover:bg-gray-200"
        (click)="onCreatePost()"
      >
        What's on your mind?
      </button>
    </div>
  </div>

  <div
    class="max-w-2xl w-full flex flex-col gap-6"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="200"
    [infiniteScrollContainer]="'#main-panel'"
    [fromRoot]="true"
    (scrolled)="onScroll()"
  >
    <app-tweet-item
      *ngFor="let tweet of tweets"
      [data]="tweet"
    ></app-tweet-item>
  </div>
</section>
