<section class="flex flex-col items-center gap-6">
  <div class="container card">
    <h2 class="font-semibold text-lg m-3">Post Something</h2>

    <mat-divider></mat-divider>

    <div class="flex items-center gap-3 m-3">
      <app-avater
        alt="User"
        [src]="userAuth?.username"
        size="50px"
        [generateAvater]="true"
      ></app-avater>

      <button
        class="w-full py-2.5 px-5 text-start text-md font-medium rounded-full outline-none transition duration-200 ease-in-out text-gray-500 bg-gray-100 hover:bg-gray-200"
        (click)="openCreatePostDialog()"
      >
        What's on your mind?
      </button>
    </div>
  </div>

  <div class="container flex flex-col gap-6">
    <app-feed-item *ngFor="let tweet of tweets" [data]="tweet"></app-feed-item>
  </div>
</section>
