a {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  gap: 1rem;
  border-radius: 4px;
  color: #e0e0e0;
  transition: all 0.2s ease-in-out;
}

a:hover {
  background-color: #434343;
  color: #fff;
}

a.active,
a:hover.active {
  background-color: rgb(25, 25, 25);
  color: #77c27c;
}
