<div
  class="flex items-center justify-between rounded-md hover:bg-gray-50 p-2 text-gray-700"
>
  <a
    routerLink="/home/profile/{{ data?.userId }}"
    class="flex gap-3 items-center flex-1"
  >
    <app-avatar
      [alt]="data?.username"
      [src]="data?.username"
      size="50px"
      borderRadius="50%"
      borderWidth="1px"
      borderColor="#f0f0f0"
      [generateAvater]="true"
    ></app-avatar>
    <span>{{ data?.username }}</span>
  </a>

  <div *ngIf="data?.userId !== userAuth?.userId">
    <button
      *ngIf="!isFollowed"
      class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full hover:bg-gray-200"
      (click)="onFollow.emit(data?.userId)"
    >
      <span class="material-symbols-rounded">person_add</span>
    </button>

    <button
      *ngIf="isFollowed"
      class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full hover:bg-gray-200"
      (click)="onUnfollow.emit(data?.userId)"
    >
      <span class="material-symbols-rounded">person_remove</span>
    </button>
  </div>
</div>
