<textarea
  matInput
  cdkTextareaAutosize
  #autosize="cdkTextareaAutosize"
  cdkAutosizeMinRows="1"
  cdkAutosizeMaxRows="5"
  [formControl]="formControl"
  placeholder="Type your comment..."
  class="mb-2 min-h-[2.5rem] max-h-32 px-3 py-2 border border-gray-300 rounded w-full block placeholder:text-gray-400 outline-none focus:ring-1 bg-gray-50 focus:ring-primary focus:border-primary text-sm"
  (focus)="isFocused = true"
  (blur)="isFocused = !formControl.invalid"
></textarea>
<div class="flex gap-2">
  <button
    *ngIf="isFocused"
    [disabled]="formControl.invalid"
    mat-flat-button
    color="primary"
    (click)="onSubmit()"
  >
    {{ isEditMode ? "Update Comment" : "Post Comment" }}
    <mat-icon class="material-symbols-rounded active">send</mat-icon>
  </button>

  <button *ngIf="isEditMode" mat-stroked-button (click)="onEditCancel.emit()">
    Cancel
    <mat-icon class="material-symbols-rounded">close</mat-icon>
  </button>
</div>
