.signupPage {
  width: 100%;
  height: 100vh;
  background-color: #eaf4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupDiv {
  max-width: 540px;
  width: 80%;
  padding: 2.5rem 1rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.inputdiv {
  width: 80%;
}

.inputWarning {
  color: #d73931;
  font-size: 12px;
}

input {
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid #d6d5d5;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

input:focus {
  outline: 1px solid #59a9ea;
}

.signupButton {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  background-color: #59a9ea;
}

.signupButton:hover {
  cursor: pointer;
}

.signupButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.alertDiv {
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  background-color: #e60d00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 25px;
  right: 25px;
}
