<mat-drawer-container class="h-full">
  <mat-drawer mode="side" opened class="h-full w-80 p-4 bg-white">
    <app-navbar></app-navbar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="relative">
      <app-search-input
        class="absolute top-3 mx-auto left-0 right-0 max-w-2xl z-50"
        [searchResults]="searchResults"
        (onSearchChange)="onSearchChange($event)"
        (onSearchResultSelect)="onSearchResultSelect($event)"
        (onSearchSubmit)="onSearchSubmit($event)"
      ></app-search-input>

      <a
        routerLink="/profile/{{ userAuth?.userId }}"
        class="ml-auto p-1 rounded-full text-gray-600 bg-gray-200 hover:bg-gray-300 font-bold text-sm flex items-center w-max"
      >
        <span class="px-2"> {{ userAuth?.username }} </span>
        <app-avatar
          bgColor="#fff"
          alt="User"
          [src]="userAuth?.username"
          size="35px"
          [generateAvater]="true"
        ></app-avatar>
      </a>
    </mat-toolbar>

    <main id="main-panel">
      <router-outlet class="self-center"></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
