<mat-drawer-container class="h-full">
  <mat-drawer mode="side" opened class="h-full w-80 p-4">
    <app-navbar></app-navbar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="bg-white">
      <app-search-input></app-search-input>

      <a
        routerLink="/home/profile/{{ userAuth?.userId }}"
        class="ml-auto p-1 rounded-full text-gray-500 bg-gray-100 hover:bg-gray-200 font-bold text-sm flex items-center w-max"
      >
        <span class="px-2"> {{ userAuth?.username }} </span>
        <app-avatar
          bgColor="#fff"
          alt="User"
          [src]="userAuth?.username"
          size="35px"
          [generateAvater]="true"
        ></app-avatar>
      </a>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
