<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div class="relative flex items-center p-4 justify-center border-b">
    <h3 class="text-xl font-semibold text-gray-900">Update Password</h3>
    <button
      type="button"
      class="absolute right-3 outline-none text-gray-900 bg-transparent hover:bg-gray-200 focus:bg-gray-200 rounded-full text-sm p-1.5 inline-flex items-center"
      (click)="onClose()"
    >
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>

  <div class="flex flex-col gap-2 px-6 pt-8 pb-3">
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        autocomplete
        [type]="hideOldPassword ? 'password' : 'text'"
        formControlName="oldPassword"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideOldPassword = !hideOldPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideOldPassword"
      >
        <mat-icon class="material-symbols-rounded">{{
          hideOldPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>

      <mat-error *ngIf="formData.controls['oldPassword'].hasError('required')">
        Current password is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        autocomplete
        [type]="hideNewPassword ? 'password' : 'text'"
        formControlName="newPassword"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideNewPassword = !hideNewPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideNewPassword"
      >
        <mat-icon class="material-symbols-rounded">{{
          hideNewPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>

      <mat-error *ngIf="formData.controls['newPassword'].hasError('required')">
        New password is required
      </mat-error>

      <mat-error *ngIf="formData.controls['newPassword'].hasError('pattern')">
        Must contain at least 8 characters, an uppercase letter, a lowercase
        letter, a number and a special character
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        autocomplete
        [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword"
      >
        <mat-icon class="material-symbols-rounded">{{
          hideConfirmPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>

      <mat-error
        *ngIf="formData.controls['confirmPassword'].hasError('required')"
      >
        Please confirm your new password
      </mat-error>

      <mat-error
        *ngIf="formData.controls['confirmPassword'].hasError('mismatch')"
      >
        Confirm password doesn't match with new password
      </mat-error>
    </mat-form-field>
  </div>
  <div class="flex rounder-b">
    <button
      class="w-full text-white bg-red-500 hover:bg-red-600 outline-none font-lg text-sm px-5 py-3 text-center"
      type="button"
      (click)="onForgotPassword()"
    >
      Forgot Password</button
    ><button
      class="w-full text-white bg-primary hover:bg-primaryDark outline-none font-lg text-sm px-5 py-3 text-center"
      type="submit"
      [disabled]="formData.invalid"
    >
      Submit
    </button>
  </div>
</form>
